<ul data-id='{{data._id}}'  data-name='{{data.name}}' data-is-me='{{isMe}}'>

<!--
  {{#if isMe}}
      <li class='pt-menu-party' >
        <div data-role='friend'>new party window</div>
      </li>
  {{/if}}

  -->

	{{#if isMe}}
		  <li class='pt-menu-home'>
		    <div data-role='home'>friend requests</div>
        {{#ifCond data.friendRequests.length '>' 0}}
          <span class='pt-notification-counter' style='display:block'>{{data.friendRequests.length}}</span>
        {{else}}
           <span class='pt-notification-counter'>{{data.friendRequests.length}}</span>
        {{/ifCond}}
		  </li>
	 {{/if}}

 	{{#if isMe}}
  		<li class='pt-menu-friend' >
    		<div data-role='friend'>add friend</div>
  		</li>
  {{/if}}

<!--
  {{#if isMe}}
      <li>
        <div class='pt-menu-share' data-role='share'>share this page</div>
      </li>
  {{/if}}
  -->


  {{#if isMe}}
  	<li class='pt-menu-home'>
    	<div data-role='settings'>settings</div>
  	</li>
  {{/if}}

  {{#if isMe}}
  	<li class='pt-menu-hide-pt'>
    	<div data-role='hide-pt'>hide pt</div>
  	</li>
  {{/if}}
</ul>