

<div class="pt-room-header"  data-name='{{title}}' data-id='{{_id}}' data-user='{{user}}'>
  <div class="row">
    <div class="pt-room-users col-xs-4">{{viewers}}</div>
    <div class="pt-room-title col-xs-4">{{title}}</div>

    <div class="pt-minimize-close col-xs-4">

      <span id="pt-search-room"  data-id='{{_id}}' data-user='{{user}}' >
        <img src="/icons/core/search-white.svg"/>
      </span>
      <span id="pt-minimize-room"  data-id='{{_id}}' data-is-minimized=false data-user='{{user}}' >
        <img src="/icons/core/minus-white.svg"/>
      </span>
      <span id="pt-close-room"  data-id='{{_id}}' data-user='{{user}}' >
        <img src="/icons/core/x-white.svg"/>
      </span>
    </div>
  </div>
</div>
<div class="pt-room-body">
  
  {{#if livePost}}
    {{#ifCond livePost.type '===' 'soundcloud'}}

      <div id="pt-iframe-container"><iframe id="pt-content" frameborder="0" data-id='{{livePost._id}}'  data-title='{{livePost.title}}' src="https://w.soundcloud.com/player/?url={{livePost.url}}&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe></div>

    {{/ifCond}}

    {{#ifCond livePost.type '===' 'youtube'}}

      <div id="pt-iframe-container"><iframe id="pt-content" frameborder="0" data-id='{{livePost._id}}'  data-title='{{livePost.title}}' src='{{livePost.url}}'></iframe></div>

    {{/ifCond}}
    
  {{/if}}

  {{#unless livePost}}
      <div id="pt-iframe-container"><iframe id="pt-content" frameborder="0" data-id=""  data-title="" src=""></iframe></div>

  {{/unless}}

  <div id="pt-messages-container">
    <ul class="list-unstyled"></ul>
  </div>

  <div id="pt-search-results-container">
  </div>

  <div id="pt-form-container">
    <form class="form-inline" id="pt-room-form">
      <div class="form-group">
        <div class="input-group"><input class="form-control" type="text" data-role="chat" id="pt-room-input" autocomplete="off" placeholder="Send a message..." />
          <div class="input-group-addon"><button class="btn btn-custom-room" type="submit"><span>Send</span></button></div>
        </div>
      </div>
    </form>
  </div>
</div>
