<h3>Friend Requests</h3>

{{#if this}}

  <form id='pt-requests-form'>
    
    <ul>
      {{#each this}}

        <li data-id='{{_id}}'>
        
          <div>
            {{name}}
          </div>

          <ul class="list-inline">
            <li>
              <input type='submit' data-role='request' data-action='accept', data-name='{{name}}', data-id='{{_id}}', class='btn btn-custom friend-request-btn', value='Accept'>
            </li>

            <li>
              <input type='submit' data-role='request' data-action='reject', data-name='{{name}}', data-id='{{_id}}', class='btn btn-custom friend-request-btn', value='Reject'>
            </li>
          </ul>

        </li>
        <br/>

      {{/each}}
    </ul>
    
  </form>

{{/if}}